extends layout

block content


    h1 #{title}
    
    h4  Tour: #{tour.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Sights:

        dl
            each sight in sightInTour
                dt
                    a(href=sight.url) #{sight.features[0].properties.name}
                

            else
                p The Tour has no sights
    
    hr
    p
        a(href=tour.url+'/delete') Delete tour
    p
        a(href=tour.url+'/update') Update tour